
.icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  background-repeat:no-repeat;
}

.icon-arrow_down,.icon-arrow_down\:regular{background-position:0 0;}
.icon-arrow_down-dims{width:64px;height:64px}
.icon-arrow_down__yellow,.icon-arrow_down__yellow\:regular{background-position:0 -64px;}
.icon-arrow_down__yellow-dims{width:64px;height:64px}
.icon-arrow_left,.icon-arrow_left\:regular{background-position:0 -128px;}
.icon-arrow_left-dims{width:64px;height:64px}
.icon-arrow_left__yellow,.icon-arrow_left__yellow\:regular{background-position:0 -192px;}
.icon-arrow_left__yellow-dims{width:64px;height:64px}
.icon-arrow_right,.icon-arrow_right\:regular{background-position:0 -256px;}
.icon-arrow_right-dims{width:64px;height:64px}
.icon-arrow_right__yellow,.icon-arrow_right__yellow\:regular{background-position:0 -320px;}
.icon-arrow_right__yellow-dims{width:64px;height:64px}
.icon-arrow_up,.icon-arrow_up\:regular{background-position:0 -384px;}
.icon-arrow_up-dims{width:64px;height:64px}
.icon-arrow_up__yellow,.icon-arrow_up__yellow\:regular{background-position:0 -448px;}
.icon-arrow_up__yellow-dims{width:64px;height:64px}
.icon-basketball,.icon-basketball\:regular{background-position:0 -512px;}
.icon-basketball-dims{width:64px;height:64px}
.icon-basketball__yellow,.icon-basketball__yellow\:regular{background-position:0 -576px;}
.icon-basketball__yellow-dims{width:64px;height:64px}
.icon-beer,.icon-beer\:regular{background-position:0 -640px;}
.icon-beer-dims{width:64px;height:64px}
.icon-beer__yellow,.icon-beer__yellow\:regular{background-position:0 -704px;}
.icon-beer__yellow-dims{width:64px;height:64px}
.icon-cake,.icon-cake\:regular{background-position:0 -768px;}
.icon-cake-dims{width:64px;height:64px}
.icon-cake__yellow,.icon-cake__yellow\:regular{background-position:0 -832px;}
.icon-cake__yellow-dims{width:64px;height:64px}
.icon-candle,.icon-candle\:regular{background-position:0 -896px;}
.icon-candle-dims{width:64px;height:64px}
.icon-candle__yellow,.icon-candle__yellow\:regular{background-position:0 -960px;}
.icon-candle__yellow-dims{width:64px;height:64px}
.icon-clock,.icon-clock\:regular{background-position:0 -1024px;}
.icon-clock-dims{width:64px;height:64px}
.icon-clock__yellow,.icon-clock__yellow\:regular{background-position:0 -1088px;}
.icon-clock__yellow-dims{width:64px;height:64px}
.icon-cocktail,.icon-cocktail\:regular{background-position:0 -1152px;}
.icon-cocktail-dims{width:64px;height:64px}
.icon-cocktail__yellow,.icon-cocktail__yellow\:regular{background-position:0 -1216px;}
.icon-cocktail__yellow-dims{width:64px;height:64px}
.icon-coffe_tea,.icon-coffe_tea\:regular{background-position:0 -1280px;}
.icon-coffe_tea-dims{width:64px;height:64px}
.icon-coffe_tea__yellow,.icon-coffe_tea__yellow\:regular{background-position:0 -1344px;}
.icon-coffe_tea__yellow-dims{width:64px;height:64px}
.icon-coordinates,.icon-coordinates\:regular{background-position:0 -1408px;}
.icon-coordinates-dims{width:64px;height:64px}
.icon-coordinates__yellow,.icon-coordinates__yellow\:regular{background-position:0 -1472px;}
.icon-coordinates__yellow-dims{width:64px;height:64px}
.icon-cupcake,.icon-cupcake\:regular{background-position:0 -1536px;}
.icon-cupcake-dims{width:64px;height:64px}
.icon-cupcake__yellow,.icon-cupcake__yellow\:regular{background-position:0 -1600px;}
.icon-cupcake__yellow-dims{width:64px;height:64px}
.icon-gift,.icon-gift\:regular{background-position:0 -1664px;}
.icon-gift-dims{width:64px;height:64px}
.icon-gift__yellow,.icon-gift__yellow\:regular{background-position:0 -1728px;}
.icon-gift__yellow-dims{width:64px;height:64px}
.icon-hint,.icon-hint\:regular{background-position:0 -1792px;}
.icon-hint-dims{width:64px;height:64px}
.icon-hint__yellow,.icon-hint__yellow\:regular{background-position:0 -1856px;}
.icon-hint__yellow-dims{width:64px;height:64px}
.icon-home,.icon-home\:regular{background-position:0 -1920px;}
.icon-home-dims{width:64px;height:64px}
.icon-home__yellow,.icon-home__yellow\:regular{background-position:0 -1984px;}
.icon-home__yellow-dims{width:64px;height:64px}
.icon-juice,.icon-juice\:regular{background-position:0 -2048px;}
.icon-juice-dims{width:64px;height:64px}
.icon-juice__yellow,.icon-juice__yellow\:regular{background-position:0 -2112px;}
.icon-juice__yellow-dims{width:64px;height:64px}
.icon-megaphone,.icon-megaphone\:regular{background-position:0 -2176px;}
.icon-megaphone-dims{width:64px;height:64px}
.icon-megaphone__yellow,.icon-megaphone__yellow\:regular{background-position:0 -2240px;}
.icon-megaphone__yellow-dims{width:64px;height:64px}
.icon-message,.icon-message\:regular{background-position:0 -2304px;}
.icon-message-dims{width:64px;height:64px}
.icon-message__yellow,.icon-message__yellow\:regular{background-position:0 -2368px;}
.icon-message__yellow-dims{width:64px;height:64px}
.icon-pie,.icon-pie\:regular{background-position:0 -2432px;}
.icon-pie-dims{width:64px;height:64px}
.icon-pie__yellow,.icon-pie__yellow\:regular{background-position:0 -2496px;}
.icon-pie__yellow-dims{width:64px;height:64px}
.icon-wine,.icon-wine\:regular{background-position:0 -2560px;}
.icon-wine-dims{width:64px;height:64px}
.icon-wine__yellow,.icon-wine__yellow\:regular{background-position:0 -2624px;}
.icon-wine__yellow-dims{width:64px;height:64px}